// LESS file for general layout styling

body, html {
	width: 100%;
	height: 100%;
}

.navbar-inner {
	min-height: 80px;

	.container{
	padding-top: 20px;

		li {
		padding-left: 10px;

		a{
			&:hover{
			 color: #BD6E29;
			}
		}

		}
	}
}

footer{
	background-color: #00010D;
	padding: 20px 0px 10px 700px;
}

header.splash { 
	background: url(../img/jesse-bg.jpg) no-repeat top center;
	height: 670px;
	margin-bottom: 2em;

	.container {
		padding-top: 375px;
	}
}

.about {
	.container{
	padding-top: 50px;
	padding-bottom: 150px;
	}
}

.resume {
	padding-top: 150px;
	padding-bottom: 250px;
}

.program {
	padding-top: 150px;
	padding-bottom: 250px;
}

.competencies {
	padding-top: 150px;
	padding-bottom: 250px;
	.row{
	padding-bottom: 50px;
	padding-top: 20px;
	}
	h4{
	padding-bottom: 5px;
	}
}

.reflection {
	padding-top: 150px;
	padding-bottom: 250px;
}
